# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
.nyc_output
.emulator-data/

# Production
build/
dist/
.next/
out/

# Misc
.DS_Store
*.pem
.env
.env*
.env.local
.env.local.bak
.env.example
.env.local.example
.vercel

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# TypeScript
*.tsbuildinfo

# Foundry
forge-cache/
forge-out/
cache/
out/